# dependencies
node_modules/

# next build output
.next/
out/

# local env
.env
.env.local
.env.*.local

# macOS / IDE
.DS_Store
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# nested app workspace dependencies/build
apps/**/node_modules/
apps/**/.next/
apps/**/out/
